.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: flex;
  justify-content: flex-end;
}

.home-main-section .msg-img {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 11em;
}

.home-main-section .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1.7em;
  margin-right: 9em;
}

.home-main-section .cat-image {
  background-image: url(../img/cat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 18em;
}

@media (max-width: 900px) {
  .home-main-section .img-wrapper {
    display: none;
  }

  .home-main-section {
    justify-content: center;
  }
}


