body {
  background-image: url(../img/joystickhand.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  background-position: bottom center;
}

.about-main-section {
  padding: 2vw;
}

.shadow-chart {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80vh;
}

@media screen and (max-width: 768px) {
  .shadow-chart {
    align-items: center;
    height: 72vh;
    text-align: center;
  }
