body {
  background-image: url(../img/joystickhand.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  background-position: bottom center;
}

.about-main-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about-main-section .shadow-chart {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  height: 80vh;
  overflow-y: scroll;
}

