body {
  background-image: url(../img/joystickhand.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  background-position: bottom center;
}

.contact-main-section {
  padding: 3vw 3vw 3vw 17vw;
}

.shadow-chart {
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .contact-main-section {
    padding: 3vw;
  }
  .shadow-chart {
    width: 100%;
  }
}
