body {
  background-size: cover;
}

.game-main-section {
  padding: 2vw;
}

.shadow-chart {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  height: 80vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2vw;
}

.column,
.second-column {
  display: flex;
  flex-direction: column;
  margin: 1vw;
}

.second-column {
  justify-content: space-between;
  align-items: center;
}

.second-column .gc-rating,
.metacritic-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-column img {
  border-radius: 5px;
}

.game-title {
  font-weight: bold;
  font-size: 30px;
}

.stars a {
  text-decoration: none;
  color: white;
}

.stars a:hover {
  color: #ff006b;
}

.social-icons i {
  font-size: 1.2rem;
}

.subtitle {
  font-weight: 300;
  font-size: 18px;
}

.stars button {
  background: none;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
}

.stars button:hover {
  color: #ff006b;
}

.your-rating,
.share {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback {
  font-weight: bold;
  color: #ff006b;
}

#description {
  text-align: justify;
}

.meta-number {
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .shadow-chart {
    align-items: center;
    height: 72vh;
    text-align: center;
    flex-direction: column;
  }

  .second-column img {
    width: 40%;
  }

  .second-column {
    margin-top: 4vh;
    min-height: 45vh;
  }
}
