body {
  background-size: cover;
}

#more {
  display: none;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2vw 0vw 0vw 0vw;
}

.column,
.second-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1vw;
}

.second-column {
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.second-column .gc-rating,
.metacritic-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-column img {
  border-radius: 5px;
}

.shadow-chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  height: 85vh;
}

.main-header {
  width: 100%;
}

.game-main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-title {
  font-weight: bold;
  font-size: 2vw;
}

.stars a {
  text-decoration: none;
  color: white;
}

.stars a:hover {
  color: #ff006b;
}

.social-icons i {
  font-size: 1.2rem;
}

.subtitle {
  font-weight: 300;
  font-size: 18px;
}

.stars button {
  background: none;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
}

.stars button:hover {
  color: #ff006b;
}

.your-rating,
.share {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback {
  font-weight: bold;
  color: #ff006b;
}
