body {
  background-image: url(../img/joystickhand.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  background-position: bottom center;
}

.signin-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shadow-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35vw;
  margin-right: 6em;
  margin-top: 5em;
}

.fav-games-message {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  font-weight: bold;
  margin-left: 2em;
  margin-bottom: 5em;
}

.btn {
  width: 17em;
}

@media screen and (max-width: 1024px) {
  .fav-games-message {
    display: none;
  }
  .signin-main-section {
    justify-content: center;
    padding: 8vw;
  }

  .shadow-chart {
    margin: 0px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .signin-main-section {
    padding: 3vw;
  }
}
