body {
  background-image: url(../img/joystickhand.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  background-attachment: fixed;
  background-position: bottom center;
}

.signup-main-section {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 3vw 30vw 3vw 30vw;
}

.shadow-chart {
  /* margin-top: 1em; */
  display: flex;
  flex-direction: column;
  /* width: 600px; */
}

.feedback {
  font-size: 16px;
}

.signup-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}

.name-input-group input:hover {
  transform: scale(1.03);
}

.name-input-group {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  justify-content: space-between;
}

.name-input-group input {
  width: 17vw;
  outline: none;
  background-color: #191d34;
  border: 1px solid #0a8fd9;
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  border-radius: 5px;
}

.terms {
  margin-bottom: 1em;
}

.terms a {
  color: #0a8fd9;
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .name-input-group input {
    width: 26vw;
  }
  .signup-main-section {
    padding: 3vw 20vw 3vw 20vw;
  }
}

@media screen and (max-width: 768px) {
  .name-input-group input {
    width: 38vw;
  }
  .signup-main-section {
    padding: 3vw;
  }
}
/* @media (max-width: 660px) { */
/* .signup-main-section .shadow-chart { */
/* width: 400px; */
/* } */
/*  */
/* .name-input-group input { */
/* width: 0.5em; */
/* } */
/*  */
/* .feedback { */
/* font-size: 13px; */
/* } */
/* } */
/*  */
/* @media (min-height: 800px) { */
/* .signup-main-section .shadow-chart { */
/* margin-top: 4em; */
/* } */
/* } */
/*  */
/* @media (min-height: 900px) { */
/* .signup-main-section .shadow-chart { */
/* margin-top: 7em; */
/* } */
/* } */
